# 심사문제

## u_22
표준 입력으로 정수 두 개가 입력됩니다(첫 번째 입력 값의 범위는 1~20, 두 번째 입력 값의 범위는 10~30이며 첫 번째 입력 값은 두 번째 입력 값보다 항상 작습니다).
첫 번째 정수부터 두 번째 정수까지를 지수로 하는 2의 거듭제곱 리스트를 출력하는 프로그램을 만드세요(input에서 안내 문자열은 출력하지 않아야 합니다).
단, 리스트의 두 번째 요소와 뒤에서 두 번째 요소는 삭제한 뒤 출력하세요. 출력 결과는 리스트 형태라야 합니다.

In [3]:
a, b = map(int, input().split())
square = [2 ** i for i in range(a, b+1)]
del square[-2]
del square[1]
square

2 11

[4, 16, 32, 64, 128, 256, 512, 2048]

## u_23 지뢰찾기

In [4]:
import random
mines = []
N = 9
for _ in range(N):
    row = ''
    for _ in range(N):
        if random.random() > 0.6:
            row += '*'
        else:
            row += '.'
    mines.append(row)

In [5]:
mines = [['*' if random.random()>0.6 else '.' for _ in range(N)] for _ in range(N)]
for i in range(len(mines)):
    for k in range(len(mines)):
        print(mines[i][k], end=' ')
    print()

. * * . . . . * *
* * * . * . . . .
* . . . . . . . .
. * * . * * * . .
. * . . . . . . .
. . . * * * * . .
* . * . * . * . .
. * . . . . . . *
. * * . * . . . .

In [6]:
def print_mines(mat):
    for i in range(len(mat)):
        for k in range(len(mat)):
            print(mat[i][k], end=' ')
        print()

print_mines(mines)

. * * . . . . * *
* * * . * . . . .
* . . . . . . . .
. * * . * * * . .
. * . . . . . . .
. . . * * * * . .
* . * . * . * . .
. * . . . . . . *
. * * . * . . . .

In [7]:
pad_mines = []
pad_mines.append('.' * (N+2))
for i in range(N):
    row = '.'
    for k in range(N):
        row += mines[i][k]
    row += '.'
    pad_mines.append(row)
pad_mines.append('.' * (N+2))

print_mines(pad_mines)

. . . . . . . . . . .
. . * * . . . . * * .
. * * * . * . . . . .
. * . . . . . . . . .
. . * * . * * * . . .
. . * . . . . . . . .
. . . . * * * * . . .
. * . * . * . * . . .
. . * . . . . . . * .
. . * * . * . . . . .
. . . . . . . . . . .

In [8]:
final_mines = []
for i in range(1, N+1):
    row = ''
    for k in range(1, N+1):
        if pad_mines[i][k] == '*':
            row += '*'
        else:
            count = (pad_mines[i-1][k-1]=='*') + (pad_mines[i-1][k]=='*') + \
                    (pad_mines[i-1][k+1]=='*') + (pad_mines[i][k-1]=='*') + \
                    (pad_mines[i][k+1]=='*') + (pad_mines[i+1][k-1]=='*') + \
                    (pad_mines[i+1][k]=='*') + (pad_mines[i+1][k+1]=='*')
            row += str(count)
    final_mines.append(row)

print_mines(final_mines)

3 * * 3 1 1 1 * *
* * * 3 * 1 1 2 2
* 6 4 4 3 4 2 1 0
3 * * 2 * * * 1 0
2 * 4 4 5 6 4 2 0
2 3 3 * * * * 2 0
* 3 * 4 * 5 * 3 1
3 * 4 4 2 3 1 2 *
2 * * 2 * 1 0 1 1

## u24-5 특정 단어 개수 세기
표준 입력으로 문자열이 입력됩니다. 입력된 문자열에서 'the'의 개수를 출력하는 프로그램을 만드세요.
단, 모든 문자가 소문자인 'the'만 찾으면 되며 'them', 'there', 'their' 등은 포함하지 않아야 합니다.

In [9]:
text = """
the grown-ups' response, this time, was to advise me to lay aside my drawings of boa constrictors, 
whether from the inside or the outside, and devote myself instead to geography, history, arithmetic, 
and grammar. That is why, at the, age of six, I gave up what might have been a magnificent career 
as a painter. I had been disheartened by the failure of my Drawing Number One and my Drawing Number Two. 
Grown-ups never understand anything by themselves, and it is tiresome for children to be always and 
forever explaining things to the.
"""
text.count('the')

8

In [10]:
import re
text = re.sub('[\'-.,\n]', '', text)
text

'the grownups response this time was to advise me to lay aside my drawings of boa constrictors whether from the inside or the outside and devote myself instead to geography history arithmetic and grammar That is why at the age of six I gave up what might have been a magnificent career as a painter I had been disheartened by the failure of my Drawing Number One and my Drawing Number Two Grownups never understand anything by themselves and it is tiresome for children to be always and forever explaining things to the'

In [11]:
text = re.sub('[^A-Za-z ]', '', text)
text

'the grownups response this time was to advise me to lay aside my drawings of boa constrictors whether from the inside or the outside and devote myself instead to geography history arithmetic and grammar That is why at the age of six I gave up what might have been a magnificent career as a painter I had been disheartened by the failure of my Drawing Number One and my Drawing Number Two Grownups never understand anything by themselves and it is tiresome for children to be always and forever explaining things to the'

In [12]:
text_list = text.lower().strip().split()
count = 0
for word in text_list:
    if word == 'the':
        count += 1
count

6

## u24-6
표준 입력으로 물품 가격 여러 개가 문자열 한 줄로 입력되고, 각 가격은 ;(세미콜론)으로 구분되어 있습니다.
입력된 가격을 높은 가격순으로 출력하는 프로그램을 만드세요(input에서 안내 문자열은 출력하지 않아야 합니다).
이때 가격은 길이를 9로 만든 뒤 오른쪽으로 정렬하고 천단위로 ,(콤마)를 넣으세요.

In [13]:
input_str = '51900;83000;158000;367500;250000;59200;128500;1304000'
price_list = list(map(int, input_str.split(';')))
price_list

[51900, 83000, 158000, 367500, 250000, 59200, 128500, 1304000]

In [14]:
price_list.sort(reverse=True)
price_list

[1304000, 367500, 250000, 158000, 128500, 83000, 59200, 51900]

In [15]:
for price in price_list:
    print(f'{price:9,d}')

1,304,000
  367,500
  250,000
  158,000
  128,500
   83,000
   59,200
   51,900

## u25
표준 입력으로 문자열 여러 개와 숫자 여러 개가 두 줄로 입력되고, 첫 번째 줄은 키, 두 번째 줄은 값으로 하여 딕셔너리를 생성합니다.
다음 코드를 완성하여 딕셔너리에서 키가 'delta'인 키-값 쌍과 값이 30인 키-값 쌍을 삭제하도록 만드세요.

In [18]:
# alpha bravo charlie delta
# 10 20 30 40
keys = input().split()
values = map(int, input().split())
x = dict(zip(keys, values))
x

alpha bravo charlie delta
10 20 30 40

{'alpha': 10, 'bravo': 20, 'charlie': 30, 'delta': 40}

In [19]:
del x['delta']
x

{'alpha': 10, 'bravo': 20, 'charlie': 30}

In [20]:
for key, value in x.items():
    if value==30:
        break

x.pop(key)      # del x[key]
x

{'alpha': 10, 'bravo': 20}

## u26
표준 입력으로 양의 정수 두 개가 입력됩니다. 다음 소스 코드를 완성하여 두 숫자의 공약수를 세트 형태로 구하도록 만드세요.
단, 최종 결과는 공약수의 합으로 판단합니다.

In [21]:
div_list = []
x = 10
for i in range(1,x+1):
    if x % i == 0:
        div_list.append(i)
set(div_list)

{1, 2, 5, 10}

In [22]:
x, y = map(int, input().split())
a = set(i for i in range(1,x+1) if x%i == 0)
b = set(i for i in range(1,y+1) if y%i == 0)
print(a, b)
divisor = a & b
 
result = 0
if type(divisor) == set:
    result = sum(divisor)
 
print(result)

30 15
{1, 2, 3, 5, 6, 10, 15, 30} {1, 3, 5, 15}
24