# Unit 6. 변수와 입력

## 6.1 변수
- 영문 문자와 숫자를 사용할 수 있습니다.
- 대소문자를 구분합니다.
- 문자부터 시작해야 하며 숫자부터 시작하면 안 됩니다.
- _(밑줄 문자)로 시작할 수 있습니다.
- 특수 문자(+, -, *, /, $, @, &, % 등)는 사용할 수 없습니다.
- 파이썬의 키워드(if, for, while, and, or 등)는 사용할 수 없습니다.

In [ ]:
x = 10
x

10

In [ ]:
s= 'Hello world!'
s

'Hello world!'

In [ ]:
type(x) , type(s)

(int, str)

In [ ]:
x,y,z = 10,20,30
x,y,z

(10, 20, 30)

In [ ]:
x=y=z=10
x,y,z

(10, 10, 10)

In [ ]:
del z
print(z)

NameError: ignored

In [ ]:
x = None
print(x)

None

In [ ]:
x

## 6.2 변수로 계산

In [ ]:
a = 10
a = a + 10
a

20

In [ ]:
a = 10
a += 10 # a = a +10
a

20

In [ ]:
sum, prod = 0,1
for i in range(1,11):
  sum += i
  prod *= i
sum, prod

(55, 3628800)

In [ ]:
-prod

-3628800

## 6.3 입력(input)

In [ ]:
x= input()

Hello world!

In [ ]:
x

'Hello world!'

In [ ]:
x = input('1에서 10사이의 정수값>') #prompt

1에서 10사이의 정수값>7

In [ ]:
# 입력한 두 정수의 합
a = input('첫번째 정수 > ')
b = input('두번째 정수 > ')
a + b

첫번째 정수 > 101
두번째 정수 > 303

'101303'

In [ ]:
a = input('첫번째 정수 > ')
b = input('두번째 정수 > ')
float(a) + float(b)

첫번째 정수 > 101
두번째 정수 > 303

404.0

In [ ]:
type(a), type(b)

(str, str)

In [ ]:
a = input('첫번째 정수 > ')
b = input('두번째 정수 > ')
int(a) + int(b)

첫번째 정수 > 101
두번째 정수 > 303

404

In [ ]:
a = int(input('첫번째 정수 > '))
b = int(input('두번째 정수 > '))
a + b

첫번째 정수 > 101
두번째 정수 > 303

404