# Unit_6 변수

In [ ]:
x = input()   # 변수입력
x = int(input())    # 변수를 정수로 변환
a, b = input().split()    # 변수를 한번에 여러개 받기
a, b = map(int, input().split())    # 여러개의 변수를 한번에 정수로 변환
a, b = map(int, input('숫자 두 개를 입력하세요: ').split(','))      # 여러개의 변수를 ,기분으로 분리

# Unit_7 출력방법

In [ ]:
print(1,2,3 , sep=', ')

1, 2, 3

In [ ]:
print(1,2,3 , sep='\n') # 줄바꿈

1
2
3

In [ ]:
# print뒤에는 기본적은로end가 있어서 이렇게도 줄바꿈가능
print(1)
print(2)
print(3)

1
2
3

# Unit_8 불과 비교 연산자 사용하기

In [ ]:
# 연산자 ----  > , < , >=, <= , == , != , is , is not ( is랑 is not은 값을 비교하는것이 아닌 객체를 비교하는것)

print(3 > 1)
print(10 == 10)
print(10 != 5)

True
True
True

In [ ]:
# 1) and 연산자 
True and True

True

In [ ]:
True and FalseTrue and False

False

In [ ]:
False and True

False

In [ ]:
False and False

False

In [ ]:
# 2) or 연산자
True or True

True

In [ ]:
True or False

True

In [ ]:
False or True

True

In [ ]:
False or False

False

In [ ]:
# 3) not 연산자 
not True

False

In [ ]:
not False

True

# Unit_9 문자열 사용하기

In [ ]:
# ' '(작은따옴표 1개) , " "(큰따옴표 1개) , ''' '''(작은따옴표 3개) , """  """(큰따옴표 3개) 
# 이렇게 4가지 방식으로 묶을 수 있음 
hello = 'hello'
print(hello)
hello = "hello"
print(hello)
hello = '''hello'''
print(hello)
hello = """hello"""
print(hello)

hello
hello
hello
hello

In [ ]:
# 문자열 안에 작은따옴표나 큰따옴표 포함하기
s = "Python isn't difficult"  # 작은따옴표를 넣기위해 큰따옴표를 사용
print(s)
s = 'He said "Python is easy"'# 큰따옴표를 넣기위해 작은따옴표를 사용
print(s)

Python isn't difficult
He said "Python is easy"

# Unit_10 리스트와 튜플 사용하기

In [ ]:
# 리스트와 튜플의 차이점 = 리스트, 튜플 모두 요소를 일렬로 저장하지만 튜플은 요소를 변경 추가 삭제 불가능
# 튜플 = 읽기전용 리스트

In [ ]:
# 리스트 만들기
a = [38, 21, 53, 62, 19]
print(a)
# 리스트 안에 여러 자료형 입력하기
person = ['james', 17, 175.3, True]
print(person)

[38, 21, 53, 62, 19]
['james', 17, 175.3, True]

In [ ]:
# 빈 리스트 만들기
a =[]
print(a)
b = list()
print(b)

[]
[]

In [ ]:
# range를 사용하여 리스트 만들기  
# range(a) = 0부터 a-1 까지 출력   range(a, b) =  a부터 b-1까지 출력
# range(a, b, c) = a부터 b-1까지 c만큼의 간격으로 출력
a = list(range(0,10))
print(a)
b = list(range(10))
print(b)
c = list(range(-4, 10, 2))
print(c)
d = list(range(10, 0, -1))
print(d)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[-4, -2, 0, 2, 4, 6, 8]
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [ ]:
# 튜플
a = (38, 21, 53, 62, 19)
print(a)
b = 38, 21, 53, 62, 19
print(b)
person = ('james', 17, 175.3, True)
print(person)

# 한개짜리 튜플만드는 방법
(38,)

(38, 21, 53, 62, 19)
(38, 21, 53, 62, 19)
('james', 17, 175.3, True)

(38,)

In [ ]:
# range를 사용하여 튜플 만들기
a = tuple(range(10))
print(a)
b = tuple(range(5, 12))
print(b)
c = tuple(range(-4, 10, 2))
print(c)

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)
(5, 6, 7, 8, 9, 10, 11)
(-4, -2, 0, 2, 4, 6, 8)

In [ ]:
# 튜플 <-> 리스트 변경하기
a = [1,2,3] # 리스트
tuple(a) # 튜플로 변화

(1, 2, 3)

In [ ]:
b = (4,5,6) # 튜플
list(b) # 리스트로 변화

[4, 5, 6]

In [ ]:
# list와 tuple 안에 문자열을 넣으면 문자 각각 요소가 된다
a = list('Hello')
print(a)
b = tuple('Hello')
print(b)

['H', 'e', 'l', 'l', 'o']
('H', 'e', 'l', 'l', 'o')

# Unit_11 Sequence(연속적) 자료형 활용하기

In [ ]:
# Sequence 자료형 - list, tuple, range, str , bytes, bytearray

In [ ]:
# 특정 값이 있는지 확인하기  (in,   not in)
a = [0, 10, 20, 30, 40, 50, 60, 70, 80, 90]
print(30 in a)
print(100 in a)
print(100 not in a)
print(30 not in a)

True
False
True
False

In [ ]:
# Sequence 객체 연결하기
a = [0, 10, 20, 30]
b = [9, 8, 7, 6]
a + b

[0, 10, 20, 30, 9, 8, 7, 6]

In [ ]:
# 리스트와 튜플 요소 개수 구하기
a = [0, 10, 20, 30, 40, 50, 60, 70, 80, 90]
len (a)

10

In [ ]:
# 문자열의 길이 구하기  -  띄어쓰기도 포함
hello = 'Hello, world!'
len(hello)

13

In [ ]:
# 인덱스 사용하기
a = [38, 21, 53, 62, 19]
print(a[0])  #  1번째 요소 출력
print(a[2])  #  3번째 요소 출력

38
53

In [ ]:
# 음수 인덱스 지정하기
a = [38, 21, 53, 62, 19]
print(a[-1])  # 뒤에서 1번째 요소 출력
print(a[-4])  # 뒤에서 4번째 요소 출력

19
21

# Unit_12 딕셔너리 사용하기

# Unit_13 if조건문으로 특정조건일때 코드 실행